<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>National Historic Sites</title>
  <link rel="stylesheet" href="./css/main.css" />
</head>

<body tabindex="-1">
  <%- include('partials/navbar', { page: '404' }) %>

  <div class="container mx-auto">
    <div class="text-center mt-10">
      <h1 class="text-3xl font-bold">404 - Not Found</h1>
      <p class="py-6"><%= message %></p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</body>

</html>
